<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <h3>Voorbeelden en oefeningen met Javascript:</h3> 
        <h2>JSON, AJAX object- en array-bewerkingen</h2>
        <table class="tblA" v-if="aInfo">
            <tr>
                <th>titel</th>
                <th>link</th>
                <th>inhoud</th>
                <th>oefen-opdrachten</th>
            </tr>
            <tr v-for="(app, index) in aInfo">
                <td style="text-align:center; max-width:160px;">
                    <strong>{{index+1}}) {{ app.title }}</strong>
                </td>
                <td>
                    <a v-bind:href="'pages/'+ app.file">link</a>
                </td>
                <td>
                    <strong>items van {{index+1}})</strong>
                    <ul>
                        <li v-for="inf in app.info">
                            <span v-html="inf"></span>
                        </li>
                    </ul>
                </td>
                <td>
                    <strong>opdracht {{index+1}})</strong>
                    <ul >
                        <li v-for="oef in app.oefeningen" style="list-style-type:lower-alpha;">
                            <span v-html="oef"></span>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script> -->
    <script src="info.js"></script> <!-- alleen nodig om info-blok in te vullen, hoort niet bij oefening -->

    <script>
        
        new Vue({
            el: '#app',
            data() {
                return {
                    message: 'Vue is actief!',
                    aInfo: aInfo, // aInfo komt uit de (in de root gelinkte) file "info.js"
                }
            },
            created() {
                //console.log("in created");
                console.log("aInfo = ", aInfo);
            }

        });
    </script>
</body>

</html>